
<form asp-action="Timkiem" asp-controller="HangHoa">
    <input type="search" class="form-control p-3" name="query" aria-describedby="search-icon-1">
    <button>
        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
    </button>
</form>